@{
    Layout = null;
}
<!DOCTYPE html>

<html class="no-js" lang="en">
    <link src=""

@await Component.InvokeAsync("_HeadComponentPartial") 
<body id="top">


    @await Component.InvokeAsync("_NavbarComponentPartial")
  
    @await Component.InvokeAsync("_FeatureComponentPartial")

    @await Component.InvokeAsync("_AboutComponentPartial")

    @await Component.InvokeAsync("_PortfolioComponentPartial")
  
    @await Component.InvokeAsync("_ContactComponentPartail")
   
    @await Component.InvokeAsync("_FooterComponentPartial")

</body>

</html>